<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        segundo template
    </h1>
    <h2> 
        {{fecha_actual}}
    </h2>
    <p>listado</p>
    <ul>
        {% for num in numeros%}
        {% if num > 5%}
        <li>{{num}}</li> 
        {% elif num == 5 %}
        <li>soy el mejor numero</li>
        {% else %}
        <li>soy menor a 5 </li>
        {% endif%}
        {%endfor%}
    </ul>   
    <p> </p>
</body>
</html>
